.gameName
{
    padding-top: 50px;
    display: block;
    margin: auto;
    font-size: 45px;
    font-family: 'Gloria Hallelujah';
    color: white;
    text-align: center;
}
.images{
    display: flex;
    justify-content: space-evenly;
}
.blackBackground
{
    background-color: black;
}
.whiteText
{
    color: white;
}
.tools
{
    margin-top: 50px;
    height: 300px;
    cursor: pointer;
}
.tools:hover
{
    transform: scale(1.2);
}
.smallerFont
{
    font-size: 28px;
}
.winnerText
{
    font-size: 60px;
    padding-top: 300px;;
}